---
title: Projects
---

%h1.page-title Projects

.project-img.memongo.link-area
  .caption
    %h2
      Memongo
      = link_to "More &raquo;", "https://github.com/benweissmann/memongo", :class => 'more'
    %p Easily spin up and down an in-memory Mongo database for your Go unit tests.

.project-img.oplogtoredis.link-area
  .caption
    %h2
      oplogtoredis
      = link_to "More &raquo;", "https://github.com/tulip/oplogtoredis", :class => 'more'
    %p High-availability service to mirror the Mongo oplog to Redis pub-sub channels.

.project-img.getmicro.link-area
  .caption
    %h2
      getmic.ro
      = link_to "More &raquo;", "https://github.com/benweissmann/getmic.ro", :class => 'more'
    %p The fastest way to install the Micro editor.

.project-img.clockworkraven.link-area
  .caption
    %h2
      Clockwork Raven
      = link_to "More &raquo;", "https://github.com/twitter-archive/clockworkraven", :class => 'more'
    %p Human-powered data analysis with Mechanical Turk. Used at Twitter to gather tens of thousands of judgements weekly.

.project-img.mitdoodle.link-area
  .caption
    %h2
      MITDoodle
      = link_to "More &raquo;", "https://github.com/benweissmann/mitdoodle", :class => 'more'
    %p Doodle clone that uses MIT certificates for authentication.

.project-img.zephyrmobile.link-area
  .caption
    %h2
      Zephyr Mobile
      = link_to "More &raquo;", "http://zmobile.mit.edu/", :class => 'more'
    %p An Android interface for MIT's Zephyr messaging system.

.project-img.rise.link-area
  .caption
    %h2
      RISE
      = link_to "More &raquo;", "https://github.com/benweissmann/rise", :class => 'more'
    %p A framework built on top of RubyGame that allows programming novices to develop games and other interactive applications.
