---
title: Projects
---

%h1.page-title Projects

.project-img.clockworkraven.link-area
  .caption
    %h2
      Clockwork Raven
      = link_to "More &raquo;", "http://twitter.github.com/clockworkraven", :class => 'more'
    %p Human-powered data analysis with Mechanical Turk. Used at Twitter to gather tens of thousands of judgements weekly.

.project-img.ldap-rails.link-area
  .caption
    %h2
      ldap-rails
      = link_to "More &raquo;", "https://github.com/benweissmann/ldap-rails", :class => 'more'
    %p Radically simple LDAP authentication for Rails.

.project-img.mitdoodle.link-area
  .caption
    %h2
      MITDoodle
      = link_to "More &raquo;", "https://github.com/benweissmann/mitdoodle", :class => 'more'
    %p Doodle clone that uses MIT certificates for authentication.

.project-img.zephyrmobile.link-area
  .caption
    %h2
      Zephyr Mobile
      = link_to "More &raquo;", "http://zmobile.mit.edu/", :class => 'more'
    %p An Android interface for MIT's Zephyr messaging system.

.project-img.karate.link-area
  .caption
    %h2
      Karate Technique Manager
      = link_to "More &raquo;", "http://karate.benweissmann.com/", :class => 'more'
    %p Interactive karate learning tool built for my karate school.

.project-img.rise.link-area
  .caption
    %h2
      RISE
      = link_to "More &raquo;", "https://github.com/benweissmann/rise", :class => 'more'
    %p A framework built on top of RubyGame that allows programming novices to develop games and other interactive applications.