---
title: Projects
---

.project-img.mitdoodle
  .caption
    %h2
      MITDoodle
      = link_to "More &raquo;", "projects.html", :class => 'more'
    %p Some text here.

.project-img.zephyrmobile
  .caption
    %h2
      Zephyr Mobile
      = link_to "More &raquo;", "projects.html", :class => 'more'
    %p Some text here.

.project-img.pictivator
  .caption
    %h2
      Pictivator
      = link_to "More &raquo;", "projects.html", :class => 'more'
    %p Some text here.

.project-img.karate
  .caption
    %h2
      Karate Technique Manager
      = link_to "More &raquo;", "projects.html", :class => 'more'
    %p Some text here.

.project-img.rise
  .caption
    %h2
      RISE
      = link_to "More &raquo;", "projects.html", :class => 'more'
    %p Some text here.